/* Block logos slider */

.block-logos-slider {
    margin-top: 4rem;
    margin-bottom: 5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #F6F7FC;
    .splide {
        //  padding-left: 1.25rem;
        //   padding-right: 1.25rem;
        .splide__slide {
            //    width: 33%;
            //     padding: 1rem;
            .splide__slide-inner {
                text-align: center;
            }
        }
    }
}