/* Block pricing */

.block-pricing {
    &__inner {
        margin: 0 0 0 0;
        padding: 4rem 2rem;
        border-radius: 16px 16px 16px 16px;
        box-shadow: 0 0 20px 0 #eae5ee;
        text-align: center;
    }
    &__sub-title {
        font-size: 1rem;
        margin-bottom: 3rem;
    }
    &__price {
        font-size: 3.75rem;
        line-height: 0.8;
        font-weight: 700;
        color: var(--wayako-color2);
        display: flex;
        justify-content: center;
        margin-bottom: 0;
    }
    &__price-currency {
        align-self: flex-start;
        font-size: calc(32em/100);
    }
    &__price-detail {
        color: #7C797E;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 40px;
        display: block;
        margin-bottom: 2rem;
    }
    &__description {
        margin-bottom: 2rem;
        ul {
            list-style: none;
            padding-left: 0;
        }
        li {
            font-weight: 300;
        }
    }
    &.is-top {
        .block-pricing__inner {
            background-image: url('../img/bg-price.png');
            background-position: center top;
            background-repeat: no-repeat;
            background-size: 130%;
        }
    }
}