/* Block projects slider */

.block-projects-slider {
    padding-left: 25rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    .splide {
        .splide__slide {
            width: 33%;
            padding: 1rem;
        }
        .splide__arrows {
            .splide__arrow--prev {
                left: 0.5rem;
            }
            .splide__arrow--next {
                right: 0.5rem;
            }
        }
    }
}


/**/

.block-editor {
    .block-projects-slider {
        padding-left: 0;
    }
}