/* Block projects slider */

.block-projects-slider {
    padding-left: 25rem;
    margin-top: 4rem;
    margin-bottom: 5rem;
    .splide {
        .splide__slide {
            width: 33%;
            padding: 1rem;
        }
        .splide__arrows {
            .splide__arrow--prev {
                left: 0.5rem;
            }
            .splide__arrow--next {
                right: 0.5rem;
            }
        }
    }
}