/* Block testimonials slider */

.block-testimonials-slider {
    margin-top: 4rem;
    margin-bottom: 5rem;
    .splide {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        .splide__slide {
            width: 33%;
            padding: 1rem;
            .splide__slide-inner {
                background-color: #F6F7FC;
                border-width: 0 0 0 0;
                border-radius: 1rem;
                padding: 2rem;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            .block-testimonials-slider__testimonial {
                color: #39353D;
                font-size: 1.125rem;
                font-weight: 400;
                font-style: italic;
                line-height: 1.5;
                margin-bottom: 0.5rem;
            }
            .block-testimonials-slider__name {
                color: #0F0E0F;
                font-size: 1.25rem;
                font-weight: 500;
                margin-top: auto;
                margin-bottom: 0;
            }
            .block-testimonials-slider__function {
                color: #7C797E;
                font-size: .75rem;
                font-weight: 500;
                text-transform: uppercase;
                margin-bottom: 0;
            }
        }
        .splide__arrows {
            .splide__arrow--prev {
                left: 0;
            }
            .splide__arrow--next {
                right: 0;
            }
            svg {
                stroke: #C3C4C7;
            }
        }
    }
}