/* Blocks */
/* Block hero */
.block-hero {
  background-color: #F6F7FC;
  min-height: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin-bottom: 9.375rem;
  /**/
  background-image: url("../img/bg-features.png");
  background-image: url("../img/bg-header0.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.block-hero__inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 15.5rem;
}

.block-hero__sub-title {
  color: var(--wayako-color2);
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 2.125rem;
  margin-bottom: 0;
}

.block-hero__title {
  color: #1A191C;
  font-size: 4.375rem;
  font-weight: 600;
  line-height: 5rem;
  margin: 1rem 0;
}

/* Block service */
.block-service {
  margin-bottom: 2rem;
  padding: 2rem;
  background-color: #FFF;
  border-style: solid;
  border-width: 0 0 0 0;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 1.25rem 0 #eae5ee;
          box-shadow: 0 0 1.25rem 0 #eae5ee;
}

.block-service__picto {
  margin-bottom: 1rem;
}

.block-service__title {
  font-size: 1rem;
  color: var(--wayako-color1);
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.block-service__link {
  display: none;
  text-decoration: none;
  margin-bottom: 1rem;
}

.block-service:hover {
  color: white;
  background-color: var(--wayako-color1);
}

.block-service:hover .block-service__title {
  color: white;
}

.block-service:hover .block-service__picto {
  display: none;
}

.block-service:hover .block-service__link {
  display: block;
  color: white;
  margin-top: 2rem;
}

.block-service:hover .block-service__link:hover {
  text-decoration: underline;
}

/* Block services */
.block-services {
  margin-bottom: 2rem;
  padding: 2rem;
  background-color: #FFF;
  border-style: solid;
  border-width: 0 0 0 0;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 1.25rem 0 #eae5ee;
          box-shadow: 0 0 1.25rem 0 #eae5ee;
}

.block-services__picto {
  margin-bottom: 1rem;
}

.block-services__title {
  font-size: 1rem;
  color: var(--wayako-color1);
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.block-services__link {
  display: none;
  text-decoration: none;
  margin-bottom: 1rem;
}

.block-services:hover {
  color: white;
  background-color: var(--wayako-color1);
}

.block-services:hover .block-service__title {
  color: white;
}

.block-services:hover .block-service__picto {
  display: none;
}

.block-services:hover .block-service__link {
  display: block;
  color: white;
  margin-top: 2rem;
}

.block-services:hover .block-service__link:hover {
  text-decoration: underline;
}

/* Block pricing */
.block-pricing__inner {
  margin: 0 0 0 0;
  padding: 4rem 2rem;
  border-radius: 16px 16px 16px 16px;
  -webkit-box-shadow: 0 0 20px 0 #eae5ee;
          box-shadow: 0 0 20px 0 #eae5ee;
  text-align: center;
}

.block-pricing__sub-title {
  font-size: 1rem;
  margin-bottom: 3rem;
}

.block-pricing__price {
  font-size: 3.75rem;
  line-height: 0.8;
  font-weight: 700;
  color: var(--wayako-color2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0;
}

.block-pricing__price-currency {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: calc(32em/100);
}

.block-pricing__price-detail {
  color: #7C797E;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 40px;
  display: block;
  margin-bottom: 2rem;
}

.block-pricing__description {
  margin-bottom: 2rem;
}

.block-pricing__description ul {
  list-style: none;
  padding-left: 0;
}

.block-pricing__description li {
  font-weight: 300;
}

.block-pricing.is-top .block-pricing__inner {
  background-image: url("../img/bg-price.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 130%;
}

/* Block breadcrumb */
/* Block projects */
.block-projects {
  margin-top: 4rem;
}

.block-projects .button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
}

.block-projects .button-group button {
  color: #0F0E0F;
  background: unset;
  border: unset;
  border-radius: 0;
  padding: .4375rem .875rem;
  position: relative;
}

.block-projects .button-group button:not(:last-child) {
  margin-right: 1rem;
}

.block-projects .button-group button:hover {
  cursor: pointer;
}

.block-projects .button-group button:hover, .block-projects .button-group button.is-checked {
  color: var(--wayako-color2);
}

.block-projects .button-group button:hover:after, .block-projects .button-group button.is-checked:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: .1875rem;
  background-color: var(--wayako-color2);
}

.block-projects .grid .grid-item {
  width: 33%;
  padding: 1rem;
}

/* Block projects slider */
.block-projects-slider {
  padding-left: 25rem;
  margin-top: 4rem;
  margin-bottom: 5rem;
}

.block-projects-slider .splide .splide__slide {
  width: 33%;
  padding: 1rem;
}

.block-projects-slider .splide .splide__arrows .splide__arrow--prev {
  left: 0.5rem;
}

.block-projects-slider .splide .splide__arrows .splide__arrow--next {
  right: 0.5rem;
}

/* Block image box */
.block-image-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block-image-box figure {
  margin-right: 2rem;
}

/* Block testimonials slider */
.block-testimonials-slider {
  margin-top: 4rem;
  margin-bottom: 5rem;
}

.block-testimonials-slider .splide {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.block-testimonials-slider .splide .splide__slide {
  width: 33%;
  padding: 1rem;
}

.block-testimonials-slider .splide .splide__slide .splide__slide-inner {
  background-color: #F6F7FC;
  border-width: 0 0 0 0;
  border-radius: 1rem;
  padding: 2rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block-testimonials-slider .splide .splide__slide .block-testimonials-slider__testimonial {
  color: #39353D;
  font-size: 1.125rem;
  font-weight: 400;
  font-style: italic;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}

.block-testimonials-slider .splide .splide__slide .block-testimonials-slider__name {
  color: #0F0E0F;
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: auto;
  margin-bottom: 0;
}

.block-testimonials-slider .splide .splide__slide .block-testimonials-slider__function {
  color: #7C797E;
  font-size: .75rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 0;
}

.block-testimonials-slider .splide .splide__arrows .splide__arrow--prev {
  left: 0;
}

.block-testimonials-slider .splide .splide__arrows .splide__arrow--next {
  right: 0;
}

.block-testimonials-slider .splide .splide__arrows svg {
  stroke: #C3C4C7;
}

/* Block logos slider */
.block-logos-slider {
  margin-top: 4rem;
  margin-bottom: 5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #F6F7FC;
}

.block-logos-slider .splide .splide__slide .splide__slide-inner {
  text-align: center;
}
/*# sourceMappingURL=wayako-core.css.map */